.bg-red {
    background-color: #FF4444;
}

html, body {
    height: 100%;
}

.centered-container {
    height: calc(100% - 120px);
}

.no-height {
    height: 0;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
  .w-md-50 {
    width: 50% !important;
  }
  .h-md-50 {
    height: 50% !important;
  }
}

.loading-dots {
    transition-property: opacity;
    transition-duration: 0.5s;
    display: inline-block;
}

.loading-dot-invisible {
    opacity: 0;
}